:root {
  --tran-1: all ease 0.5s;
  --color-1: #305088;
  --color-2: #f68c24;
  --color-3: #ec0000;
  --color-5: #0c0a0a;
  --color-6: #fff;
  --color-7: #9c9c9c;
  --color-8: #3f3e3e;
  --radius: .4rem;
}

*, ::before, ::after{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'ROBOTO', sans-serif;
  line-height: 1.6;
  margin: 0;
  background: #fff;
  z-index: 1;
}
button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}
button:focus{
  outline: unset;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: var(--color-6);
  transition: all ease .3s;
}
a:hover {
  color: var(--color-1);
}
.trans {
  transition: all ease .5s;
}
.text-center {
  text-align: center;
}
.rlt {
  position: relative;
}
.img-fluid, .img-responsive{
  max-width: 100%;
  height: auto;
}
.align-items-center{
  align-items: center;
}
img {
    vertical-align: middle;
    border-style: none;
}
.list-unstyled{
  list-style: none;
}
.icn-fx {
  font-size: 4rem;
}
/* border bottom dùng chung*/
.border-b::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 97.3%;
  height: 1px;
  background-color: #d9d9d9;
}
/* button dùng chung */
.btn-theme {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: .5rem 1.5rem;
  border-radius: var(--radius);
  border: none;
  background-image: linear-gradient(to bottom, var(--color-2), #d1771f);
  color: var(--color-6);
  transition: var(--tran-1);
  cursor: pointer;
}

.btn-theme:hover {
  color: var(--color-6);
  background-image: linear-gradient(to bottom, #d1771f, var(--color-2));
  transition: var(--tran-1);
}
/* end */
/* heading dùng chung */
.heading {
  border-bottom: 1px dashed var(--color-7);
}

.heading::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 4rem;
  height: 3px;
  background-color: var(--color-1);
}  
.heading-title {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.heading-desc {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--color-7);
  line-height: 1;
  margin: 0;
}
/* end */
/* begin banner */
.swiper {
  overflow: hidden;
}

.swiper img {
  width: 100%;
  min-height: 592px;
  object-fit: cover;
} 

.swiper .swiper-pagination {
  position: absolute;
  top: 92%!important;
  left: 0;
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--color-6);
  opacity: 1;
  border-radius: 50%;
  display: inline-block;
  margin: 0 8px;
  transition: all ease .3s;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-1);
  transform: scale(1.2);
}

.swiper .swiper-button-next,.swiper .swiper-button-prev {
  cursor: pointer;
  color: var(--color-7);
  transition: all ease .3s;
}

.swiper .swiper-button-next {
  margin-right: 4rem;
}

.swiper .swiper-button-prev {
  margin-left: 4rem;
}

.swiper .swiper-button-next:hover,.swiper .swiper-button-prev:hover {
  color: var(--color-1);
  outline: none;
}
/* end banner */

/* begin widget */
.widget-home {
  z-index: 10;
  margin-top: -7.3rem;
  border-radius: var(--radius) var(--radius) 0 0;
  overflow: hidden;
}

.widget-home .widget-item {
  float: left;
  width: 33.333%;
  background-color: var(--color-1);
}

.widget-home .widget-item:not(:last-child)::after {
  content: "";
  position: absolute;
  display: block;
  top: -99%;
  right: 0;
  bottom: -99%;
  border-left: 1px solid rgba(0, 0, 0, .3);
  border-right: 1px solid rgba(255, 255, 255, .3);
  transform: rotate(25deg);
  z-index: 11;
}

.widget-home .widget-item:hover .widget-icon {
  color: var(--color-6);
  transition: var(--tran-1);
}

.widget-home .widget-content {
  color: var(--color-6);
}

.widget-home .widget-content .widget-title,
.widget-home .widget-content .widget-title a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-6);
  text-transform: uppercase;
}

.widget-home .widget-content .widget-title a:hover {
  text-decoration: underline;
  transition: var(--tran-1);
}

.widget-home .widget-content .widget-desc {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--color-7);
  line-height: 1.6;
  margin: 0rem;
}

.widget-home .widget-icon {
  color: var(--color-7);
  transition: var(--tran-1);
}
/* end widget */

/* begin main content */
/* begin about */
.about-home-content {
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--color-7);
}

.about-home-content a {
  font-weight: 500;
  color: var(--color-1);
}

.about-home-content a:hover {
  text-decoration: underline;
}
/* end about */
/* begin services */
.service-home-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.service-home-items .service-home-img {
  overflow: hidden;
}

.service-home-items .service-home-img::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
  transform: rotate(45deg)
  translateY(10%)
  translateX(-100%);
}

.service-home-items .service-home-img:hover::before {
  transform: rotate(45deg)
  translateY(10%)
  translateX(250%);
  transition: all ease 1s;
}

.service-home-items .service-home-img img {
  width: 100%;
  border-radius: var(--radius);
}

.service-home-items .service-home-title {
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--color-5);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.service-home-items .service-home-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4rem;
  height: 3px;
  background-color: var(--color-1);
  z-index: 2;
}

.service-home-items .service-home-title::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  border-bottom: 1px dashed var(--color-7);
}

.service-home-items .service-home-desc {
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--color-7);
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* end services */
/* begin watch more btn */
.watch-more-btn {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  color: var(--color-1);
}

.watch-more-btn:hover {
  text-decoration: underline;
}
/* end watch more btn */
/* map home */
/* end map home */
/* begin contact */
.contact-form-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.contact-form-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--color-5);
}

.contact-form-title span {
  color: var(--color-3);
}

.contact-input {
  width: 100%;
  background-color: #f5f5f5;
  outline: none;
  border: 1px solid var(--color-7);
  border-radius: var(--radius);
}

.contact-input {
  padding: .5rem .6rem;
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--color-5);
}

.btn-theme[type="submit"] {
  float: right;
}
/* end contact */
/* begin customer review */
.happy-list-home-img {
  overflow: hidden;
  width: 90px;
  margin: 0 auto;
  border-radius: 50%;
}

.happy-list-home-desc {
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--color-7);
  line-height: 1.6;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.happy-list-home-icon {
  font-size: 3rem;
  color: #f5f5f5;
}

.happy-list-home-name {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--color-5);
  margin: 0;
  text-align: center;
}

.happy-list-home-job {
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--color-7);
  line-height: 1.6;
  margin: 0;
  text-align: center;
}
/* end customer review */

/* begin owl carousel */
.owl-carousel .owl-nav {
  position: absolute;
  top: -80px;
  right: 0;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  font-size: 4rem;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: transparent;
  color: var(--color-1);
}
/* end owl carousel */

/* begin gallery */
.gallery-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.gallery-home img {
  width: 100%;
  border-radius: var(--radius);
}
/* end galery  */
/* begin light box */
.lightbox {
  display: flex;
  flex-direction: column;
}
/* begin  */
.lb-dataContainer {
  order: 1;
  position: relative;
}

.lb-outerContainer {
  order: 2;
}

.lb-data .lb-close {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(12px) translateY(-8px);
  z-index: 3;
}
/* end light box */
/* begin news */
.news-home-img {
  width: 35%;
}

.news-home-img img {
  border-radius: var(--radius);
  width: 100%;
}

.news-home-contents {
  width: 65%;
}

.news-home-title {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-home-title a {
  color: var(--color-5);
}

.news-home-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 4rem;
  height: 3px;
  background-color: var(--color-1);
  z-index: 2;
}

.news-home-title::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  border-bottom: 1px dashed var(--color-7);
}

.news-home-desc {
  font-size: 1.3rem;
  font-weight: normal;
  color: var(--color-7);
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* end news home */
/* begin simply scroll */
.vert .simply-scroll-list li {
  height: auto;
  width: auto;
}
/* begin partner home */
.partner-home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.partner-home img {
  width: 100%;
}
/* end partner home */
/* end main content */
/* scroll to top btn */
.scrto-top {
  font-size: 2.5rem;
  background-color: var(--color-1);
  color: var(--color-6);
  width: 90px;
  height: 34px;
  cursor: pointer;
  border-radius: var(--radius) var(--radius) 0 0;
}
/* end scroll on top */
/* begin footer */
.footer {
  background-color: var(--color-8);
  border-top: 1px solid var(--color-1);
}


.footer .footer-heading {
  border-bottom: 1px dashed var(--color-7);
}

.footer .footer-heading::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.09rem;
  width: 4rem;
  height: 2px;
  background-color: var(--color-6);
  border-radius: var(--radius);
}

.footer .footer-heading .footer-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--color-6);
}

.footer-list, .footer-menu {
  color: var(--color-6);
}

.footer .footer-heading .footer-desc {
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--color-7);
  line-height: 1.6;
  margin: 0;
}

.footer .footer-menu .footer-item:not(:last-child) {
  border-bottom: 1px solid var(--color-7);
}

.footer .footer-link {
  font-weight: bold;
  color: var(--color-6);
  text-transform: capitalize;
  line-height: 1.6;
  margin: 0;
  display: block;
}

.footer .footer-menu .footer-link {
  font-size: 1.4rem;
}

.footer .footer-link  {
  font-size: 1.2rem;
}

.footer .footer-link:hover {
  color: var(--color-7);
}

.footer .footer-list .footer-link:hover {
  text-decoration: underline;
} 

.footer-cpright {
  background-color: var(--color-5);
}

.footer-cpright p {
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--color-7);
}

.footer-cpright a {
  font-weight: bold;
  text-transform: capitalize;
}
/* responsive */

@media (min-width: 992px) and (max-width: 1200px) {
  .service-home-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .service-home-items .service-home-title {
    font-size: 1.9rem;
  }
  /* news home rssponsive */
  .news-home-items {
    height: 350px;
    overflow-y: scroll;
  }

  .news-home-title {
    font-size: 1.4rem;
    -webkit-line-clamp: 2;
    }
  .news-home-desc {
    font-size: 1.4rem;
    -webkit-line-clamp: 2;
  }
    
  .news-home-img {
    width: 35%;
  }

  .news-home-contents {
    width: 65%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* border responsive */
  .border-b::after {
    left: 10px;
    width: 96.5%;
  }
  .service-home-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  /* widget responsive */
  .widget-home {
    margin-top: -11.6rem;
  }
  /* news home responsive */
  .news-home-items {
    height: 220px;
    overflow-y: scroll;
  }

  .news-home-title {
    font-size: 1.4rem;
  -webkit-line-clamp: 2;
  }

  .news-home-desc {
    font-size: 1.3rem;
  -webkit-line-clamp: 2;
}
  
  .news-home-img {
    width: 36%;
  }

  .news-home-contents {
    width: 64%;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  /* border responsive */
  .border-b::after {
    left: 15px;
    width: 94.5%;
  }
  .service-home-items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  /* swiper responsive */
  .swiper .swiper-button-next {
    display: none;
  }
  .swiper .swiper-button-prev {
    display: none;
  }
  /* widget responsive */
  .widget-home {
    border-radius: var(--radius);
    margin-top: -22rem;
  }
  .widget-home .widget-item {
    float: none;
    width: 100%;
  }
  .widget-home .widget-item:not(:last-child)::after {
    display: none;
  }
  /* news home rssponsive */
  .news-home-title {
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-line-clamp: 2;
    }
    
  .news-home-items {
    height: auto;
    overflow: visible;
  }
  
  .news-home-img {
    width: 30%;
  }

  .news-home-contents {
    width: 70%;
  }
}

@media (min-width:420px) and (max-width: 576px) {
  /* border responsive */
  .border-b::after {
    left: 15px;
    width: 90%;
  }
  .service-home-items {
    grid-template-columns: repeat(2, 1fr);
  }
  /* swiper responsive */
  .swiper .swiper-button-next {
    display: none;
  }
  .swiper .swiper-button-prev {
    display: none;
  }
  /* widget responsive */
  .widget-home {
    border-radius: var(--radius);
    margin-top: -22rem;
  }
  .widget-home .widget-item {
    float: none;
    width: 100%;
  }
  .widget-home .widget-item:not(:last-child)::after {
    display: none;
  }
  /* owl carousel responsive */
  .owl-carousel .owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
    margin-top: 1rem;
  }
  /* news home rssponsive */
  .news-home-title {
  font-size: 1.5rem;
  -webkit-line-clamp: 2;
    }
    
  .news-home-items {
    height: auto;
    overflow: visible;
  }
  
  .news-home-img {
    width: 35%;
  }

  .news-home-contents {
    width: 65%;
  }
}

@media (max-width:419px) {
  /* border responsive */
  .border-b::after {
    left: 15px;
    width: 90%;
  }
  .service-home-items {
    grid-template-columns: repeat(1, 1fr);
  }
  /* swiper responsive */
  .swiper .swiper-button-next {
    display: none;
  }
  .swiper .swiper-button-prev {
    display: none;
  }
  /* widget responsive */
  .widget-home {
    border-radius: var(--radius);
    margin-top: -22rem;
  }
  .widget-home .widget-item {
    float: none;
    width: 100%;
  }
  .widget-home .widget-item:not(:last-child)::after {
    display: none;
  }
  /* owl carousel responsive */
  .owl-carousel .owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
    margin-top: 1rem;
  }
  /* news home rssponsive */
  .news-home-title {
  font-size: 1.4rem;
  -webkit-line-clamp: 2;
    }

  .news-home-desc {
    font-size: 1.3rem;
    line-height: 1.3;
  }
    
  .news-home-items {
    height: auto;
    overflow: visible;
  }
  
  .news-home-img {
    width: 40%;
  }

  .news-home-contents {
    width: 60%;
  }
}


